$theme-darkly:'darkly';
$theme-sandstone: 'sandstone';
$theme-superhero: 'superhero';
$theme-flatly: 'flatly';

/*Theme*/
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

/*Bootstrap*/
@import "~startbootstrap-sb-admin/css/sb-admin.min.css";
@import "~startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css";

/*Loader*/
@import "~react-loader-spinner/dist/loader/css/react-spinner-loader.css";

/*Select2*/
@import "~select2/dist/css/select2.min.css";

/*password-strength-meter*/
@import "~password-strength-meter/dist/password.min.css";
